.tco {
    font-size: 40px;
}

.tco.grey {
    color: grey;
}

.tco.green {
    color: green;
}

.tco.orange {
    color: orange;
}

.tco.red {
    color: red;
}

.success {
    color: green;
}

.error {
    color: red;
    font-weight: bold;
}

.failure {
    color: red;
}

.unknown {
    color: grey;
}

body {
    background: #fff;
    font: 11px arial, sans-serif;
    margin: 0 0 3px 0;
    min-width: 768px
}

textarea {
    width: 600px;
    height: 120px;
    border: 3px solid #cccccc;
    padding: 5px;
    font-family: Tahoma, sans-serif;
}

footer {
    text-align: right;
    color: #4D4D4D;
    position: absolute;
    left: 0;
    bottom: 0;

    width: 100%;
}

table.menu {
}

table.menu td {
    border-width: 0;
    padding: 8px;
}

table {
    color: black;
    width: 100%;
    border-color: white;
    border-collapse: collapse;
}

table th {
    color: #285E8E;
    background-color: grey;
    padding: 8px;
    border: 1px solid black;
    text-align: center;
}

table tr {
    background-color: white;
}

table td {
    padding: 8px;
    /*border: 1px solid black;*/
}

legend {
    margin-bottom: 0px;
}

a {
    text-decoration: none;
}

a:visited {
    color: #285E8E;
}

.enqueue_button {
    float: right;
}

.main_container {
    background-color: #FFFFFF;
}

.run_test_container {
    width: 320px;
    float: left;
}

.available_nodes_container {
    float: left;
}

.progress_container {
    float: left;
    width: 60%;
}

.results_table_container {
}

.tiui-form {
    border: 1px solid #FFFFFF;
}

.nodes_table {
    text-align: center;
    width: 200px;
}

.results_table {

}

.results_table th {
    text-align: center;
}

.results_table tr.even {
    background-color: #E0F0F8;
}

.paginate_button {
    /*
     * copied from tiui styles
    */
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none !important;
    text-transform: uppercase;
    color: #FFF !important;
    display: inline-block;
    text-align: center;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.33) inset;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    cursor: pointer;
    padding: 7px 8px 6px;
    padding: 6px 7px 5px;

    background: #0080c6;
    border-color: #005889;
    color: #FFF !important
}

.paginate_active {
    /*
     * copied from tiui styles
    */
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none !important;
    text-transform: uppercase;
    color: #FFF !important;
    display: inline-block;
    text-align: center;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.33) inset;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    cursor: pointer;
    padding: 7px 8px 6px;
    padding: 6px 7px 5px;

    background: #76ceea;
    border-color: #41bbe2;
    color: #FFF !important
}

.dataTables_info {
    margin-bottom: 5px;
}

.dataTables_length {
    margin-bottom: 7px;
}

.tiui-btn-rmv {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: Arial, sans-serif;
    font-size: 9px;
    font-weight: bold;
    text-decoration: none !important;
    color: #FFF !important;
    display: inline-block;
    text-align: center;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.33) inset;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    cursor: pointer;
    padding: 2px 3px 1px;

    background: #0080c6;
    border-color: #005889;
    color: #FFF !important
}

.error_message {
    width: 200px;
}

.clickable_img {
    cursor: pointer;
}

.available_nodes_bar {
    width: 100%;
    height: 30px;
    background-color: #cce6f4;
    color: #285E8E;
    border-bottom: 1px solid #0080c6;
}

.node_cell {
    float: left;
    padding-top: 9px;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;

    border-right: 1px solid #0080c6;
}

.connected_cell {

}

.bar_text {
    float: left;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 9px;
    padding-bottom: 8px;

    border-right: 1px solid #0080c6;
}

.node_text {
    float: left;
}

.circle_idle {
    border-radius: 50%;
    width: 8px;
    height: 8px;
    background-color: green;
    margin-top: 2px;
    margin-left: 5px;
    float: left;
}

.circle_busy {
    border-radius: 50%;
    width: 8px;
    height: 8px;
    background-color: #ff0000;
    margin-top: 2px;
    margin-left: 5px;
    float: left;
}

.circle_not_available {
    border-radius: 50%;
    width: 8px;
    height: 8px;
    background-color: black;
    margin-top: 2px;
    margin-left: 5px;
    float: left;
}

.version_cell {

    padding-left: 5px;
    padding-right: 5px;
    padding-top: 9px;
    padding-bottom: 8px;
    float: right;
    border-left: 1px solid #0080c6;
}

#modal_container {
    position: absolute;
    background-color: #cce6f4;
    width: 330px;
    height: 160px;
    padding-top: 10px;
    padding-left: 10px;
    border: 1px solid #0080c6;
    z-index: 20;
}

#comment_area {
    width: 300px;
    height: 100px;
    resize: none;
}

.modal_button_container {
    margin-top: 5px;
}

.test_back_button {
    margin-top: 3px;
    margin-left: 3px;
    height: 80%;
    font-size: 11px;
    float: left;
}

/* Test execiution detal */

.test_container_1 {
    width: 40%;
    float: left;
}

.test_container_2 {
    width: 50%;
    float: left;
}

.test_container_3 {
    width: 100%;
    height: 350px;
    float: left;
}

.test_comment_container {
    float: left;
}

#test_comment_area {
    resize: none;
}

.test_jira_container {
    width: 79.3%;
}

.test_report_container {
    /*width: 200;*/
}

.test_svn_container {
    /*width:50%;
    float:left;
    display: inline-block;*/
}

.text_center {
    text-align: center;
}

.odd_row {
    background-color: #E0F0F8;
}

.tiui-table {
    margin-bottom: 10px;
}

#items_info {
    margin-bottom: 5px;
    margin-left: 5px;
}

#table_pagination {
    margin-top: 15px;
    margin-left: 5px;
}

@-moz-document url-prefix() {
    #table_pagination {
        margin-top: 50px;
        margin-left: 5px;
    }
}

.loading_circle {
    position: absolute;
    top: 40%;
    left: 40%;
    display: none;
}

/* PIAZZA */

progress[value] {

    width: 250px;
    height: 20px;
}

.piazza_circle {
    height: 150px;
    overflow: hidden;
    width: 50%;
    margin: 0 auto;
}

.piazza_circle img {
    margin: -75px 0 0 -100px;
}

.piazza_test_container {
    display: table;
    height: 24px;
    margin-bottom: 2px;
}

.piazza_1 {
    float: left;
    margin-left: 20px;
    padding-top: 6px;
    width: 150px;
}

.piazza_2 {
    float: left;
    margin-left: 10px;

}

.piazza_3 {
    float: left;
    margin-left: 10px;
}

.progressBar {
    width: 400px;
    height: 22px;
    border: 1px solid #ccc;
    background-color: #FFFFFF;
}

.progressBar div {
    height: 100%;
    color: #000000;
    text-align: right;
    line-height: 22px;
    width: 0;
    background-color: #0080c6;
    color: #ffffff;
}

.styled_select {

    background: transparent;
    border: 1px solid #ccc;
    /*height: 20px;*/
    font-size: 13px;
    margin: 0 0 0 0;
    border-radius: 2px;
}

.styled_select2 {

    background: transparent;
    border: 1px solid #ccc;
    /*height: 20px;*/
    font-size: 26px;
    margin: 0 0 0 0;
    border-radius: 2px;
}

.black_wrapper {
    background: #000 position : absolute;
}

.under_wrapper {
    /*position: absolute;*/
}

.piazza_success {
    color: green;
}

.piazza_failure {
    color: red;
}

.piazza_running {
    color: #285E8E;
}

.tests_so_far td {
    padding: 0 0 0 0;
}

.tests_so_far {
    width: 90px;
}

.overall_tests {
    margin-bottom: 5px;
}

#buttons {
    float: left;
}

#report_circle {
    float: left;
    display: none;
}

#report_circle img {
    padding-top: 6px;
    padding-left: 4px;
}

/* performance view*/
.test_cases_bar {
    width: 100%;
    height: 30px;
    background-color: #cce6f4;
    color: #285E8E;
    border-bottom: 1px solid #0080c6;
}

.performance_test_executions_list {
    float: left;
}

.performance_test_execution {
    padding: 5px 5px 5px 5px;
}

.performance_test_execution_container {
    float: left;
    width: 80%;

}

.performance_test_execution_detail {
    height: 500px;
}

.piazza_table td {
    /*height: 26px;*/
    padding-top: 2px;
    padding-bottom: 2px;
}

/* ---- isotope ---- */

.isotope {
    /*border: 4px solid #333;*/
}

/* clear fix */
.isotope:after {
    content: '';
    display: block;
    clear: both;
}

/* ---- .element-item ---- */

.element-item {
    position: relative;
    float: left;
    width: 50px;
    height: 50px;
    margin: 5px;
    padding: 10px;
    background: #888;
    color: #262524;
}

.element-item > * {
    margin: 0;
    padding: 0;
}

.element-item .name {
    position: absolute;

    left: 10px;
    top: 25px;
    text-transform: none;
    letter-spacing: 0;
    font-size: 12px;
    font-weight: normal;
}

.element-item .symbol {
    position: absolute;
    left: 10px;
    top: 0px;
    font-size: 42px;
    font-weight: bold;
    color: white;
}

.element-item .number {
    position: absolute;
    right: 8px;
    top: 5px;
}

.element-item .weight {
    position: absolute;
    left: 10px;
    top: 76px;
    font-size: 12px;
}

.element-item.failed          { background: #F00; }
.element-item.passed          { background: #0F8; }
.element-item.no_result       { background: #a5a5a5; }


